<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>M LEAGUE DB</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
        <div class="container">
            <a href="/">M LEAGUE DB</a>
        </div>
    </header>
    <div class="container">
      <div class="container-header">
        <h1><%= players[0].team_name%></h1>
      </div>
      <div class="player-table-wrapper">
        <div class="team-data">
        <h2>所属選手</h2>
            <ul class="team-member">
                <% players.forEach((player) => { %>
                    <li>
                      <a href="/player_list/<%= player.player_id%>">・<%= player.last_name%> <%= player.first_name%></a>
                    </li>
                <% }); %>
           </ul>
        </div>
        <div class="player-data-container">
          <h2>成績</h2>
          <!-- <h3>'18年</h3> -->
          <div class="team-table-head">
              <span class="score-column p-column">合計スコア</span>
              <span class="ave-point-column p-column">平均スコア</span>
              <span class="ave-rank-column p-column">平均順位</span>
              <span class="num-column p-column">合計試合数</span>
          </div>
          <div class="team-table-body">
              <span class="score-column p-column"><%= ave_data.score%>pt</span>
              <span class="ave-point-column p-column"><%= ave_data.ave_score%>pt</span>
              <span class="ave-rank-column p-column"><%= ave_data.ave_rank%></span>
              <span class="num-column p-column"><%= ave_data.game_num%></span>
          </div>
          <!-- <h3>'19年</h3> -->
          <!-- <h3>総合</h3> -->
      </div>
      </div>
      <a href="/team_list" class="cancel-button">もどる</a>
    </div>
  </body>
</html>